PUBSUB__SUBSCRIBER=projects/название_проекта/subscriptions/имя_подписчика
PUBSUB__PROJECT_ID=ид_проекта
PUBSUB__CLIENT_EMAIL=название-аккаунта@проект.iam.gserviceaccount.com
PUBSUB__PRIVATE_KEY="-----BEGIN PRIVATE KEY-----приватный ключ-----END PRIVATE KEY-----\n"
