MS3_PORT=8080

MS3_GOOGLE_CLOUD_PROJECT_ID=ид_проекта
MS3_GOOGLE_CLOUD_SERVICE_EMAIL=название-аккаунта@проект.iam.gserviceaccount.com
MS3_GOOGLE_CLOUD_PUBSUB_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----приватный ключ-----END PRIVATE KEY-----\n"

MS3_GOOGLE_CLOUD_PUBSUB_MS3_TO_MS2_TOPIC=тема_отправителя
MS3_GOOGLE_CLOUD_PUBSUB_MS2_TO_MS3_TOPIC=тема_получателя
MS3_GOOGLE_CLOUD_PUBSUB_MS2_TO_MS3_SUBSCRIBER=подписчик_получателя
