MS2_PORT=22280

MS2_DB_TYPE=postgres
MS2_DB_HOST=localhost
MS2_DB_PORT=25432
MS2_DB_USER=admin
MS2_DB_PASS=secret123password
MS2_DB_NAME=database

MS2_DOCKER_PORT_DATABASE=25432
MS2_DOCKER_PORT_ADMINER=28080
