MS2_PORT=33380

MS2_DB_TYPE=postgres
MS2_DB_HOST=prod-db
MS2_DB_PORT=5432
MS2_DB_USER=admin
MS2_DB_PASS=secret123password
MS2_DB_NAME=database

MS2_DOCKER_PORT_DATABASE=35432
MS2_DOCKER_PORT_ADMINER=38080
MS2_DOCKER_PORT_NODEJS=33380
