APP_PORT=22280

DMS_HOST=localhost
DMS_PORT=25432
DMS_USER=admin
DMS_PASS=secret123password
DMS_NAME=database

OUT_PORT_DTB=25432
OUT_PORT_ADM=28080

MS3_URL=https://example.com # Вставь url от команды $ gcloud app browse

PUBSUB__TOPIC_MS3_TO_MS2=тема_ms3_to_ms2
PUBSUB__TOPIC_MS2_TO_MS3=тема_ms2_to_ms3
PUBSUB__SUB_MS3_TO_MS2=projects/название_проекта/subscriptions/имя_подписчика_m3_to_ms2

PUBSUB__PROJECT_ID=ид_проекта
PUBSUB__CLIENT_EMAIL=название-аккаунта@проект.iam.gserviceaccount.com
PUBSUB__PRIVATE_KEY="-----BEGIN PRIVATE KEY-----приватный ключ-----END PRIVATE KEY-----\n"

MS2_TIMEOUT=4000
